<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}主页{% endblock %}</title>

    <!--引入样式-->
    <link rel="stylesheet" href="{% static 'userbase/css/bootstrap-theme.min.css' %}">
    <link rel="stylesheet" href="{% static 'userbase/css/bootstrap.min.css' %}">

    {% block css %} {% endblock %}
</head>
<body>
<!--顶部导航栏-->
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">资产管理系统</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li class="active"><a href="/">主页 <span class="sr-only">(current)</span></a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                {% if login_user %}
                    <li class="dropdown">


                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                           aria-expanded="false">{% if login_user.photo %}
                            <img src="/static/upload/{{ login_user.photo }}" width="50" height="50" class="img-circle">
                        {% endif %}{{ login_user.nickname }} <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="#">个人中心</a></li>
                            <li><a href="#"></a></li>
                            <li><a href="#">帮助</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="/user/logout/">退出登录</a></li>
                        </ul>
                    </li>
                {% else %}
                    <li><a href="/user/login/">登录</a></li>
                    <li><a href="/user/regist/">注册</a></li>
                {% endif %}

                <!--
               -->
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>
<div class="container">
    {% block content %}

    {% endblock %}
</div>
<footer class="main-footer">
    <div class="pull-right hidden-xs">
      <b>Version</b> 1.0.0
    </div>
    <strong>Copyright &copy; 2017- <a href="https://github.com/smallren101/assets" target="_blank">GitHub项目</a>.</strong> All rights
    reserved.
  </footer>
<!--引入js-->
<script src="{% static 'userbase/js/jquery.min.js' %}"></script>
<script src="{% static 'userbase/js/bootstrap.min.js' %}"></script>

{% block js %} {% endblock %}
</body>
</html>